/*General*/

body {
  font-family: Proxima Nova, Helvetica, sans-serif;
  font-size: 21.3px;
  line-height: 1.4;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #8a2be2;
  font-weight: 600;
  text-decoration: underline;
}


/*Page Layout*/

.Header {
  background: url('../images/boozephreaks_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  margin: 50px;
}

.Hero {
  background: url('../images/bottles.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px 50px;
}

.Hero h1 {
  margin: 0;
  color: white;
  font-size: 60px;
  line-height: 1.1;
}

.Hero p {
  font-size: 21.3px;
  line-height: 1.4;
  color: rgba(255,255,255, 0.8);
}

.Hero a {
  font-size: 21.3px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  background: rgba(138, 43, 226, 0.7);
  padding: 20px 30px;
  border-radius: 60px;
  text-decoration: none;
}

.HeroGroup {
  background-color: rgba(0,0,0, 0.8);
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 50px;
  text-align: center;
}