/*General*/

body {
  font-family: Proxima Nova, Helvetica, sans-serif;
  font-size: 21.3px;
  line-height: 1.4;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #8a2be2;
  font-weight: 600;
  text-decoration: none;
}


/*Page Layout*/


@keyframes HeroAnimation {
  0% {
      opacity: 0;
      transform: translateY(20px)
  }
  100% {
      opacity: 1;
      transform: translateY(0px)
  }
}

.Hero {
  background: url('../images/bottles.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px 50px;
  margin-top:280px;
}

.Hero h1 {
  text-align: left;
  margin: 0;
  color: white;
  font-size: 40px;
  line-height: 1.1;
}

.Hero p {
  text-align: left;
  font-size: 21.3px;
  line-height: 1.4;
  color: rgba(255,255,255, 0.8);
}

.Hero a {
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  font-size: 21.3px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  background: rgba(138, 43, 226, 0.7);
  padding: 20px 30px;
  border-radius: 60px;
  text-decoration: none;
}

.Hero a:hover {
  background: #A65DE9;
}

.HeroGroup {
  animation: HeroAnimation 1.5s 0.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
  background-color: rgba(0,0,0, 0.8);
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 40px;
  text-align: center;
}

@media (max-width: 640px) {

  .Hero {
    margin-top:150px;
  }

  .Hero a {
    font-size: 20px;
    background: rgba(138, 43, 226, 0.7);
    padding: 20px 30px;
    border-radius: 60px;
    text-decoration: none;
  }

  .HeroGroup {
    padding: 20px 20px;
  }
}